.fb {
  margin-top: 60px;
}

.selfie img {
  height: 550px;
  width: 450px;
  filter: grayscale(100%);
}

@media screen and (max-width: 764px) {
  .selfie {
    display: flex;
    justify-content: center;
  }

  .selfie img {
    height: 250px;
    width: 75vw;
    margin-bottom: 20px;
  }
}
