.text-fh {
  padding: 15px;
}

.video-fh {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  video {
    outline: none;
  }
}

@media screen and (max-width: 760px) {
  .video-fh video {
    width: 300px;
  }
}
