.bluetext {
  color: #43BBFF;
  justify-content: center;
  margin-top: 60px;
}

.presentationpm {
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px;
  margin-top: 50px;
}

.formationpm {
  border: 1px solid white;
  border-radius: 25px;
  padding: 15px;
  margin-top: 50px;
}

