// Specific CSS for your home-page
.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.line {
  border: 1px solid #575757;
  border-right-color: black;
  border-left-color: black;
}

.text {
  margin-bottom: 170px;
  p{
    text-align: justify;
    word-spacing: 1px;
  }
}

@media screen and (max-width: 764px) {
  .image {
    display: none;
  }

  .title {
    text-align: center;
  }
}

