.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: white;
  border-bottom: 1px solid white;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-link {
  background-color: black !important;
  margin-right: 60px;
}

.nav-tabs {
  border-bottom: none;
  a {
    color: grey;
  }
}

.livres-docs {
  margin-top: 40px;
  margin-left: 40vw;
  margin-bottom: 40px;
}

.title-book {
  margin-left: 40px;
}

.editeur {
  margin-left: 250px;
  position: relative;
  top: -20px;
}

.book {
  margin-left: 150px;
  img {
    height: 250px;
    width: 200px;
  }
}

.video {
  img {
    height: 250px;
    width: 300;
  }
}
