p {
  text-align: justify;
}

.paragraphe1 {
  margin-top: 50px;
}

.p1 {
  text-decoration: underline;
  font-weight: bold;
}

.theorie {
  margin-top: 40px;
  margin-bottom: 20px;
}

.p2 {
  text-decoration: underline;
  font-weight: bold;
}

.paragraphe2 {
  margin-right: 60px;
}

.cerveau {
  margin-top: 50px;
}

.paragraphe3 {
  margin-right: 60px;
}

.fonctionnement {
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraphe4 {
  margin-right: 60px;
}

.paragraphe5 {
  margin-right: 60px;
}

@media screen and (max-width: 764px) {
  .p1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .picture1 {
    display: none;
  }

  .p2 {
    margin-left: 15px;
  }

  .picture2 {
    display: none;
  }

  .picture3 {
    display: none;
  }

  .picture4 {
    display: none;
  }

  .picture5 {
    display: none;
  }
}

