p {
  text-align: justify;
}

.paragraphe1 {
  margin-top: 50px;
}

.p1 {
  text-decoration: underline;
  font-weight: bold;
}

.picture1 img{
  height: 280px;
  width: 80vw;
  filter: grayscale(100%);
}

.theorie {
  margin-top: 40px;
  margin-bottom: 20px;
}

.p2 {
  text-decoration: underline;
  font-weight: bold;
}

.paragraphe2 {
  margin-right: 60px;
}

.picture2 img {
  height: 250px;
  width: 350px;
}

.cerveau {
  margin-top: 50px;
}

.paragraphe3 {
  margin-right: 60px;
}

.picture3 img {
  height: 250px;
  width: 350px;
}

.fonctionnement {
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraphe4 {
  margin-right: 60px;
}

.picture4 img {
  height: 250px;
  width: 350px;
}

.paragraphe5 {
  margin-right: 60px;
}

.picture5 img{
  height: 250px;
  width: 350px;
}

