.paragraphe1 {
  margin-top: 50px;
  text-align: justify;
}

.p1 {
  text-decoration: underline;
  font-weight: bold;
}

.picture1 img{
  height: 280px;
  width: 80vw;
  filter: grayscale(100%);
}

.theorie {
  margin-top: 40px;
  margin-bottom: 20px;
}

.p2 {
  text-decoration: underline;
  font-weight: bold;
}

.projet-sportif {
  text-align: justify;
  margin-right: 60px;
}

.picture2 img {
  height: 250px;
  width: 350px;
}

.brain {
  margin-top: 50px;
}
