<div class="navbar">

  <div class="col">

    <div class="row">
      <div class="name">
        <a href="/">frederic beltran</a>
      </div>
    </div>

    <div class="menu row">
      <div class="accueil">
        <a href="/">Accueil</a>
      </div>

      <div class="pm">
        <a href="/preparation_mentale">Préparation Mentale</a>
      </div>

      <div class="facteur-humain">
        <a href="/facteur_humain">Facteur Humain</a>
      </div>

      <div class="formations">
        <a href="/formations">Formations</a>
      </div>

      <div class="docs">
        <a href="/livres_docs">Livres&Docs</a>
      </div>

      <div class="blog">
        <a href="/blog">Blog</a>
      </div>

      <div class="propos">
        <a href="/a_propos">À propos</a>
      </div>
    </div>

  </div>

</div>
