<div class="navbar">

  <div class="col">

    <div class="row">
      <div class="name">
        <a href="/">Frederic Beltran</a>
      </div>
    </div>

    <div class="menu row">
      <div class="accueil">
        <a href="/">Accueil</a>
      </div>

      <div class="pm">
        <p>Préparation Mentale</p>
      </div>

      <div class="facteur-humain">
        <p>Facteur Humain</p>
      </div>

      <div class="formations">
        <p>Formations</p>
      </div>

      <div class="docs">
        <p>Livres&Docs</p>
      </div>

      <div class="blog">
        <p>Blog</p>
      </div>

      <div class="propos">
        <p>À propos</p>
      </div>
    </div>

  </div>

</div>
