<div class="container">
  <div class="fb row">
    <div class="presentation col">
      <p>
        Frédéric Beltran, en quelques mots…
        <br><br>
        Je suis entré dans le sujet des facteurs humains par le biais de l’aviation.
        <br>
        Passionné je passe, en parallèle de ma carrière aéronautique, un Diplôme Universitaire de Préparateur Mental à Clermont, qui m’amène à suivre des sportifs et consacrer une bonne part de mon temps à la formation d’entraîneurs ou de rencontres avec des parents.
        <br>
        Persuadé qu’une compréhension plus fine du fonctionnement neurologique me permettrait d’aider plus efficacement les personnes que j’accompagne, je travaille ces sujets et passe un Diplôme Universitaire de Médecine à Strasbourg « méditation et neuroscience ».
        <br>
        Ces expériences m’amènent à être formateur Facteurs Humains (CRM Trainer) à Air France, puis formateur de formateurs. J’interviens également sur des sujets comme la prise de décision et la gestion de stress.
        <br><br>
        Apprendre a deux sens pour moi: recevoir et transmettre. C’est un pilier fort de ma personnalité.
        <br>
        Chaque personne étant différente, c’est un défi extrêmement motivant que d’accompagner une personne, que ce soit dans le domaine sportif ou professionnel, et de lui apporter toute l’aide possible pour que son projet se déroule au mieux. Il y a des solutions à tout.
        <br><br>
        L’humain est au coeur de la vie.
      </p>
    </div>

    <div class="selfie col">
      <%= image_tag("colere29.jpeg", :alt => "colère") %>
    </div>

  </div>
  <%= render "shared/footer" %>
</div>
