<div class="container">
  <div class="col">
    <div class="row">
      <div class="text col-sm-12">
        <br>
        <br>
        <p>Le facteur humain:<br><br>

        Pourquoi pointe-t-on le facteur humain dans la plupart des incidents ou accidents? Monde médical, aviation, entreprise: serait-il envisageable que nous ne soyons pas tout à fait les mêmes lorsque notre vie ou celle des autres est réellement engagée, alors que nous sommes très à l’aise avec la théorie?
        <br>
        Les majors de promo de l’armée sont-ils toujours les meilleurs sur le terrain? Les premiers de la classe sont-ils aux meilleurs postes dans la vie? Non.
        <br>
        La faute à ces fameux « facteurs humains ».
        <br>
        Communication, procédures, retours d’expérience, prise de décision, leadership, gestion de stress, connaissance de soi. L’intelligence émotionnelle commence à faire sa place dans nos organisations.
        <br>
        <br>
        En tant que formateur facteurs humains, outre arriver à améliorer les points précédents, je considère que « l’événement catastrophique » qui va malheureusement arriver un jour est complètement imprévisible. C’est la théorie des cygnes noirs, qui explique comment un événement hautement improbable peut avoir des conséquences dramatiques. Personne ne peut avoir la prétention de croire que tout est prévu dans les systèmes complexes dans lesquels nous évoluons.
        <br>
        Tout comme personne ne fait jamais d’erreur, personne ne peut tout faire tout seul, personne ne sait tout. L’équipe est précieuse.
        <br>
        <br>
        Le but des formations que je propose est d’arriver à faire prendre conscience de cette situation, de donner des explications quant au fonctionnement humain et les outils nécessaires. Comprendre que la prise de décision n’est pas forcément que rationnelle, savoir gérer un conflit, fixer des objectifs qui donnent du sens, parler de CNV, de l’implication du stress et bien d’autres sujets inspirés du Crew Ressource Management utilisé en aviation.

        </p>
      </div>

    </div>
  </div>


</div>
