<div class="container">
  <div class="bluetext row">
    <p>Nous contacter pour l’organisation ou les disponibilités</p>
  </div>

  <div class="presentationpm row">
    <p style="font-weight: bold;">Presentation PM entraineurs, enseignants, formateurs:</p>
    <p>Quelle est l’influence du mental sur la performance? Comment définir un objectif? Quels sont les effets de mes mots? <br>
    Que faire du stress? Et un peu de neurologie pour éclairer les comportements.
    Durée: 3h
    </p>
  </div>

  <div class="formationpm row">
    <p style="font-weight: bold;">Formation PM entraineurs:</p>
    <p>La Préparation Mentale en entraînnement, en accompagnement.
    <br>
    Fontionnement humain, communication, outils.
    <br>
    Durée: 6h
  </p>
  </div>

</div>
