<div class="container">
  <div class="col">
    <div class="title row">
      <h4>L'Humain au coeur de la performance</h4>
    </div>

    <div class="row">
      <div class="text col">
        <p>Le mental? <br><br>

Que mettre derrière le mot mental?
Certains verront de la performance, de la gestion d'émotions, de la communication, éviter la colère. D'autres verront quelque chose d’inscrit en nous: on l’a ou on ne l'a pas!
<br>
<br>
Pour ma part, je suis persuadé que nous disposons de ressources insoupçonnées. D'où viennent vraiment nos limites?
Face a une situation inattendue, quel bonheur d' être en réponse plutôt qu'en réaction!
La connaissance de soi est un réel apport. Nous ne mettrons pas nos émotions de côté, ni nos soucis; nous ne « dresserons » pas notre attention.
Par contre nous pouvons nous accepter tels que nous sommes et travailler ce pilier mental qui sert de base à nombre de nos manières d'être et de faire.
Je suis convaincu cela mérite d'y consacrer un peu de temps, que le bénéfice est énorme, et pas uniquement dans le sport.
</p>
      </div>

      <div class="img col">

      </div>
    </div>
  </div>


</div>
