<div class="container">
  <div class="col">
    <div class="title row">
      <h4>L'Humain au coeur de la performance</h4>
    </div>

    <div class="row">
      <div class="text col">
        <p></p>
      </div>

      <div class="img col">

      </div>
    </div>
  </div>


</div>
