<div class="container">
  <div class="paragraphe1">
    <h5>La préparation Mentale: donner la bonne clé?</h5>
    <br>
    <p>La Préparation Mentale est un des piliers du sport. Comment appliquer une tactique, mettre en place sa technique, aller chercher à se dépasser sans un minimum d’envie, de motivation, d’objectif? Sans mental? <br>
Un sportif expert qui rate sous pression, un orateur qui bafouille lors d’un exposé qu’il connait par coeur, un musicien paralysé lors de son audition: doit-on lui faire pratiquer encore et encore les gestes techniques de son domaine d’expertise? Platini qui rate le tir au but à la coupe du monde contre le Brésil: doit-on lui expliquer comment tirer? La double faute au moment le plus important: le joueur a-t-il oublié comment il doit s’y prendre pour servir? <br>
Dans ces cas là: la réponse est souvent technique. On refait et on répète. <br>
Mais est-on sûr qu’en donnant une réponse technique à un problème émotionnel on donne la bonne clé, celle qui va faire progresser? <br>
La préparation Mentale traite cette problématique de gestion de projet, de connaissance de soi, de performance sous pression. Tout le monde s’accorde sur le fait que c’est essentiel, mais…..on continue trop souvent à remettre Platini devant les buts!…</p>
  </div>






</div>
