.name {
  a {
    color: #A5A5A5;
    letter-spacing: 10px;
    word-spacing: 10px;
  }
  a:hover {
    text-decoration: none;
  }
  margin: auto;
}

.menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.menucss1 {
  a {
    color: red;
  }
}

.menucss2 {

}

.accueil {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.pm {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.facteur-humain {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.formations {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.docs {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.blog {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.propos {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}
