.name {
  a {
    color: #A5A5A5;
    letter-spacing: 10px;
    word-spacing: 10px;
  }
  a:hover {
    text-decoration: none;
  }
  margin: auto;
}

.menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.menucss1 {
  a {
    color: red;
  }
}

.menucss2 {

}

.accueil {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.pm {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.facteur-humain {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.formations {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.docs {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.blog {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.propos {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #A0A0A0;
  }
  margin-right: 60px;
}

.burger {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-color: white;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 4px;
  transition: 0.4s;
  border-radius: 1px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.drop-menu {
  a {
    color: black;
  }
  background-color: white;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  position: absolute;
  left: 16px;
  // bottom: -105px;
  padding: 0.5rem 0;
  min-width: 10rem;
  z-index: 1000;
  display: none;
}

.show {display: block;}

.drop-menu-text {
  padding: 0.25rem 1.5rem;
  margin-bottom: 10px;
}

// .drop-menu-text:hover {
//   a{
//     color: white;
//     text-decoration: none;
//   }
// }

@media screen and (max-width: 813px) {
  .fullmenu {
    display: none;
  }
}
