.name {
  margin: auto;
  color: #A5A5A5;
}

.menu {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.accueil {
  margin-right: 80px;
}

.pm {
  margin-right: 80px;
}

.facteur-humain {
  margin-right: 80px;
}

.formations {
  margin-right: 80px;
}

.docs {
  margin-right: 80px;
}

.blog {
  margin-right: 80px;
}

.propos {
  margin-right: 80px;
}
